@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(161,200,223);
    font-family: 'Poppins',sans-serif; 
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
}
.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1rem ;
    width: 160px;
    font-size: 1.2rem;
    font-family: inherit;    
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}
